<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picocss@1.5.1/dist/pico.min.css">
  <link rel="stylesheet" href="/ui.css">
</head>
<body>

<div class="login-container">
  <div class="login-box">
    <div class="login-form">
      <h2>Welcome!</h2>
      <form action="/login" method="post">
        <input type="snumber" name="snumber" placeholder="Student Number" required>
        <input type="password" name="password" placeholder="********" required>
        <div class="submit">
          <input type="submit" value="Login">
        </div>
      </form>
      <div class="signup">
        <h5 class="toggle-heading">First time?<a href=""> Sign Up!</a></h5>
      </div>
      <div class="admin">
        <h5 class="toggle-heading">Administrator?<a href=""> Sign In!</a></h5>
      </div>
    </div>

    <div class="login-image"></div>
  </div>
</div>

</body>
</html>
