body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; /* Make the body take up the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #79C0FF; /* Light background color */
}

.centered-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    justify-content: center;
}

.centered-box input {
    width: 100%;
    margin-bottom: 15px;
}

.login-heading {
    display: flex;
    justify-content: center;
}

.login-title {
    display: flex;
    justify-content: start;
    padding-bottom: 0%;
    margin-bottom: 0;
    h4 {
        margin-bottom: 5%;
    }
}

.submit {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    input {
        color: white;
        background-color: #017FC0;
        width: 50%;
    }
}